.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1.5rem;
  word-break: keep-all;
  text-align: center;
}

.heading {
  font-size: 3rem;
}

.divider {
  @media (max-width: 996px) {
    border: 1px solid var(--ifm-button-background-color);
  }
  border: 1px solid var(--ifm-button-background-color);
  height: auto;
  width: 100%;
  margin: 48px;
}

.subheading {
  font-size: 1.1rem;
  font-weight: 300;
}

.downloadLatestButton {
  background-color: var(--ifm-color-primary-dark);
  border: none;

  color: white;
  height: 3.5rem;

  font-size: 1.2rem;

  &:hover {
    color: white;
    background-color: var(--ifm-color-primary-darker);
  }
}

.secondaryDownloadButton {
  background-color: var(--ifm-color-primary-darker);
  border: none;

  color: white;
  height: 3rem;

  font-size: 1rem;
  font-weight: 500;

  &:hover {
    color: white;
    background-color: var(--ifm-color-primary-darkest);
  }
}

.screenshot {
  @media (max-width: 996px) {
    display: none;
  }
  width: 100%;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.imageSlider * {
  border-radius: 16px;
  overflow: hidden;
}

.imageSlider > div {
  background-color: transparent !important;
}
